* {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  color: #484848;
  font-weight: lighter;
  list-style: none;
}

a {

text-decoration: none;
}
header {
  display: flex;
  flex-flow: wrap;

}

.logo {
  width: 100px;
  padding: 24px;
}
.logo img {
  width: 30%;
}

.navpc, .navtab,form,img[src$="pc.jpg"], img[src$="tab.jpg"], .suivant, .apropos ul {
  display: none;
}


h1 {
  font-size: 25px;
  line-height: 30px;
  margin-top: 7px;
  margin-left: 24px;
  width : 87%;


}


h1 span {
  color: #FF5A5F;
  font-weight: 700;
}

button {
  width: 87%;
  height: 45px;

  padding-bottom: 10px;
  background-color: white;
  margin : 50px 0 50px 24px;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
  font-size: 15px;


}

button i {
  position: relative;
  top: 10px;
}

/***************************************************main *************************************/
main {

margin-left: 24px;
display: flex;
flex-wrap: wrap;

}

main nav {
  overflow: scroll;
}

main nav ul {
  display: flex;
  height: 25px;

  position: relative;
  margin-top: 30px;

}

.mainnav ul li {
  margin-right: 15px;
  text-transform: uppercase;
  color : #008489;
  font-weight: 900;
  letter-spacing: 0.4px;
  font-size: 12px;



}

main nav ul li:first-child {
  border-bottom: 2px solid #008489;
}

.reservees,.destination, .experience, .logements {
  position: relative;
  overflow: scroll;



}




.gal1, .gal2 {
  display: flex;
  width: 810px;
  justify-content: space-between;
  height: 415px;
  align-items: flex-end;


}

.gal3 ,.gal4 {
  display: flex;
  width: 648px;
  justify-content: space-between;
  align-items: flex-end;

}

.gal3 {
  height: 330px;
}

.gal4 {
  height: 275px;
}



/*.gal4 {
  display: flex;
  w
}*/

h2 {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top : 45px;
}

h2, section a {
  display: inline-block;
}

main section a {
  position: absolute;
  right: 2%;
  top : 45px;
  font-size: 15px;
}

section a i {
  position: relative;
  top: 8px;
}



.reservees figure, .experience figure {

  height: 340px;
  width: 150px;

}

.logements figure {
  width: 204px;
  height: 250px;
}

.destination figure {
  width :96px;
  height: 200px;
}

figcaption, .commentaire i{
  font-size: 15px;
}

figcaption {
  font-weight: 200;
  letter-spacing: 0.2px ;
}

.commentaire i {
  color: #00A699;
  margin-right: 3px;
  position: relative;
  top : 2px;
}

.prix {
  color: #484848;
  font-size: 17px;
  font-weight: 700;
  margin-right: 2px;
}

.revenu {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 80px;
  width: 100%
}

.revenu img {
  order: -1;
  position: relative;
  right : 24px;
  width: 107%;


}

.estimer h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  width: 98%;
  letter-spacing: -0.6px;
  margin-top: 20px;
}

.estimer p {
  font-size: 19px;
  font-weight: 200;
  line-height: 24px;
  width: 98%;
  margin-top: 15px;
}

#estimer {
  width: auto;
  border-radius: 4px;
  background-color: #008489;
  color: white;
  padding: 5px;
  height: 36px;
  font-weight: bold;
  margin : 20 0 40 0;
  position: relative;
  right : 24px;
  bottom: 30px;
}

/***********************************************footer**********************************/
footer {
  height: 265px;
  border-top: 1px solid lightgrey;

  width: 100%;
  color : #767676;
}



.devise {
  height: 120px;

width: 100%
  display: inline-block;
  vertical-align: top;
}

.langue {
  margin: 24px 12px 24px 24px;
  width: 40%;
  height : 43%
}

.dev {
  width : 35%;
  height: 40%
}


 footer select {
   border: 1px solid #d3d3d3;
   font-size: 20px;
   background-color: white;


 }

 .copyright, footer nav {
   width : 86%;
   margin: auto;
 }

 .copyright {
   padding-top: 10px;
   border-top: 1px solid lightgrey;
 }


 .copyright img {
   width: 9%;
   display: inline-block;
   position: relative;
   top : 4px;
 }

 .copyright p {
   width: 40%;
   display: inline-block;
   font-size: 17px;
 }

 footer nav ul {
   width : 50%;
   font-size: 14px;
   margin-top: 5px;
 }

 footer nav ul li {
   display: inline-block;
   margin: 0 5px;
 }

 footer nav ul li:hover {
   text-decoration: underline;
 }
